dependencies/downloads/**
poc-docker/poc-images/poc-push-images-to-registry-alternate/data/**
poc-docker/poc-images/poc-push-images-to-registry-alternate/backups/**
poc-docker/poc-compose/poc-compose-app/poc-compose-jenkins/app/.git
poc-docker/poc-compose/poc-compose-app/poc-compose-jenkins/mount/**
poc-docker/poc-compose/poc-compose-app/poc-compose-jenkins/tmp/**
poc-k8s/poc-rbac/tmp/**
