.idea/
dependencies/downloads/**
poc-docker/poc-images/poc-push-images-to-registry-alternate/data/**
poc-docker/poc-images/poc-push-images-to-registry-alternate/backups/**
poc-docker/poc-compose/poc-compose-app/poc-compose-jenkins/app/.git
poc-docker/poc-compose/poc-compose-app/poc-compose-jenkins/mount/**
poc-docker/poc-compose/poc-compose-app/poc-compose-jenkins/tmp/**
poc-k8s/poc-rbac/ca/**
poc-k8s/poc-rbac/tmp/**
poc-k8s/poc-probes/poc-probe-startup/tmp/**
poc-docker/poc-compose/poc-compose-app/poc-compose-java/target/
poc-helm/poc-charts/poc-create-chart-structure/tmp/nginx
poc-helm/poc-repositories/poc-push-chart-to-registry-alternate/data/
poc-helm/poc-charts/poc-manage-chart-dependencies/charts/wordpress/charts/*
poc-helm/poc-charts/poc-manage-chart-dependencies/charts/wordpress/Chart.lock
poc-helm/poc-charts/poc-test-chart/charts/apache/charts/*
poc-helm/poc-charts/poc-test-chart/charts/apache/Chart.lock


